<div class="easystart-section">
    <h3>旁路由模式配置</h3>
    <div class="cbi-value">
        <label for="cbid.easystart.general.bypass_ip">旁路由IP地址:</label>
        <input type="text" id="cbid.easystart.general.bypass_ip" name="cbid.easystart.general.bypass_ip" value="192.168.0.2">
    </div>
    <div class="cbi-value">
        <label for="cbid.easystart.general.bypass_gateway">主路由网关:</label>
        <input type="text" id="cbid.easystart.general.bypass_gateway" name="cbid.easystart.general.bypass_gateway" value="192.168.0.1">
    </div>
    <div class="cbi-value">
        <label>说明:</label>
        <div style="margin-left: 150px; color: #666;">
            旁路由模式下，路由器将作为主路由的子设备，提供额外的网络服务。
            请确保旁路由IP与主路由在同一网段，且网关设置为主路由的IP地址。
        </div>
    </div>
</div>